.signup-form{
    margin: auto;
    width: 50%;
    min-width: 280px;
    margin-top: 15%;
    text-align: center;
}

.form-text{
    width: 100%;
    max-width: 350px;
    display: flex;
    margin: auto;
    margin-bottom: 15px;
    flex: 2;
    justify-content: flex-end;
}
.form-text {
    flex: 1;
}
.form-text label{
}

